<section id="allNewslettersSection">
    <div class="container">
        @if (newsletters() != null) {
            @for (newsletter of currentNewsletters; track newsletter.id) 
            {
                <div class="newsletterContent">
                    <a [routerLink]="['/newsletter-details', userId(), newsletter.id]">
                        <h4>{{newsletter.title}}</h4>
                        @if (newsletter.sections.length > 0 ) {

                            @if (newsletter.sections[0].newsletterSectionImages.length > 0 ) 
                            {
                                <img [src]="newsletter.sections[0].newsletterSectionImages[0].url" 
                                [alt]="newsletter.sections[0].newsletterSectionImages[0].altText">
                            }  
                        }
                    </a>        
                </div>
            }
        }
        @else if (isFetching() && !errorMessage()) {
            <p>Loading newsletters...</p>
        }
    </div>
    @if(totalPages >= 1) {
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <button class="page-link" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
                </li>

                <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <button class="page-link" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
                </li>
            </ul>
        </nav>
    }
    @else if (errorMessage())
    {
        <div class="errorMessage">
            {{errorMessage()}}
        </div>
    } 
</section>