
@if(latestNewsletter()) {
    <section id="newsletterSection">
        <div class="container">
            <iframe
                [src]="latestNewsletter()" 
                width="100%" 
                height="600px" 
                frameborder="0" 
                title="Latest Newsletter" 
            ></iframe>
          </div>
    </section>
}
@else if (isFetching() && !errorMessage()) {
    <p>Loading latest newsletter...</p>
}

@else if (errorMessage()) {
    <p>{{errorMessage()}}</p>
}
