#newsletterSection {
  margin-bottom: 10px;
}
#newsletterSection quill-editor {
  width: 100%;
}
#newsletterSection .buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
#newsletterSection .buttonContainer button {
  margin-top: 50px;
  width: 100%;
}
#newsletterSection .pixabayImageSearch {
  margin-top: 15px;
}

#toolbar {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 85px);
}
@media (min-width: 576px) {
  #toolbar {
    grid-template-columns: repeat(4, 85px);
  }
}
@media (min-width: 768px) {
  #toolbar {
    grid-template-columns: repeat(5, 85px);
  }
}
@media (min-width: 992px) {
  #toolbar {
    grid-template-columns: repeat(7, 85px);
  }
}
@media (min-width: 1024px) {
  #toolbar {
    display: flex;
    justify-content: space-evenly;
  }
}
#toolbar .ql-formats {
  display: flex;
  justify-content: center;
}
#toolbar .ql-formats .ql-customImage, #toolbar .ql-formats .ql-customVideo {
  margin: 0;
  padding: 0;
}