#newsletterSection {
    width: 100%;

    quill-editor {
        width: 100%;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        
        button {
            margin: 10px 0px 10px 0px;
        }
    }
}
  