#newsletterSection {
  width: 100%;
}
#newsletterSection quill-editor {
  width: 100%;
}
#newsletterSection .buttonContainer {
  display: flex;
  justify-content: center;
}
#newsletterSection .buttonContainer button {
  margin: 10px 0px 10px 0px;
}