<div id="toolbar">
  <select class="ql-header">
    <option value="1"></option>
    <option value="2"></option>
    <option value="3"></option>
    <option value="4"></option>
    <option value="5"></option>
    <option value="6"></option>
    <option selected></option>
  </select>
  
  <select class="ql-font">
    <option value="bebas">Bebas Neue</option>
    <option value="dm-sans">DM Sans</option>
    <option value="inter">Inter</option>
    <option value="poppins">Poppins</option>
    <option value="roboto">Roboto</option>
    <option value="roboto-mono">Roboto Mono</option>
    <option value="roboto-slab">Roboto Slab</option>
    <option value="oswald">Oswald</option>
  </select>

  <span class="ql-formats">
    <button class="ql-bold"></button>
  </span>

  <span class="ql-formats">
    <button class="ql-italic"></button>
  </span>

  <span class="ql-formats">
    <button class="ql-underline"></button>    
  </span>
  
  <span class="ql-formats">
    <button class="ql-strike"></button>    
  </span>

  <span class="ql-formats">
    <select class="ql-align">
      <option selected></option>
      <option value="center"></option>
      <option value="right"></option>
      <option value="justify"></option>
    </select>
  </span>

  <span class="ql-formats">
    <button class="ql-link"></button>
  </span>

  <span class="ql-formats">
    <select class="ql-color"></select>
  </span>

  <span class="ql-formats">
    <select class="ql-background"></select>
  </span>

  <span class="ql-formats">
    <button class="ql-image"></button>
  </span>

  <!--custom knapp -->
  <span class="ql-formats">
    <button class="ql-customImage">
      <i class="fa-solid fa-globe"></i>
    </button>
  </span>

  <span class="ql-formats">
    <button class="ql-customVideo">
      <i class="fa-regular fa-circle-play"></i>
    </button>
  </span>
</div>

<!-- Quill editorn använder anpassad toolbar -->
<div id="newsletterSection">
  <quill-editor
    [ngModel]="section.content"
    [modules]="editorModules"
    (ngModelChange)="section.content = $event">
  </quill-editor>

  @if (showPixabayImageSearch) {
    <div class="pixabayImageSearch"></div>
    <app-pixabay-image-search
    (imageSelected)="insertImage($event)"
    (closeDialog)="handleImageClose()">
  </app-pixabay-image-search>
  }

  @if (showPixabayVideoSearch) {
    <div class="showPixabayVideoSearch"></div>
    <app-pixabay-video-search
      (videoSelected)="handleVideoSelected($event)"
      (closeDialog)="handleVideoClose()">
    </app-pixabay-video-search>
  }

  <div class="buttonContainer">
    <button type="button" class="btn btn-success" (click)="saveSection()" [disabled]="isSaving">
      {{isSaving ? 'Saving...' : 'Save Section'}}
    </button>
  </div>

</div>