#newsletterSection {
    margin-bottom: 10px;
    
    quill-editor {
        width: 100%;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        
        button {
            margin-top: 50px;
            width: 100%;
        }
    }

    .pixabayImageSearch {
        margin-top: 15px;
    }
}

#toolbar {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 85px);

    @media(min-width: 576px) {
        grid-template-columns: repeat(4, 85px);
    }

    @media(min-width: 768px) {
        grid-template-columns: repeat(5, 85px);
    }

    @media(min-width: 992px) {
        grid-template-columns: repeat(7, 85px);
    }
    
    @media(min-width: 1024px) {
        display: flex;
        justify-content:space-evenly;
    }

    .ql-formats {
        display: flex;
        justify-content: center;

        .ql-customImage, .ql-customVideo {
            margin: 0;
            padding: 0;
        }
    }
}

  