<section id="userDetailsSection">
    <div class="container">
        <aside class="adminNavigationContent">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a (click)="loadUpdateDetails()" class="btn btn-warning" aria-current="page">Update User</a>
                </li>
                <li class="nav-item">
                    <a (click)="loadRemoveDetails()" class="btn btn-danger" aria-current="page">Delete User</a>
                </li>
                <button (click)="goBack()" class="btn btn-success" aria-current="page">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                </button>
            </ul>
        </aside>
        <div class="userDetailsContent">
            @if (user()) {
                <form (ngSubmit)="updateUser()">
                    <input type="text" class="form-control" disabled [value]="user()?.id" name="userId">
                    <input type="text" class="form-control" disabled [value]="user()?.email" name="email">
                    <input type="text" class="form-control" disabled [value]="user()?.userName" name="userName">
                
                    @if (isUpdateing() && user()?.id != loggedUserId()) {
                        <div class="selectWrapper">
                            <select id="selectRole" class="form-control" [(ngModel)]="enteredRole" [value]="enteredRole" name="role">
                                <option value="Admin">Admin</option>
                                <option value="User">User</option>
                            </select>
                            <i id="updateUserDropDownIcon" class="fa-solid fa-arrow-down"></i>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    }
                    @else {
                        <input type="text" class="form-control" disabled [value]="user()?.role?.role" name="userName">
                    }
                </form>
                @if (statusMessage) {
                    <div [class]="statusClass" role="alert">
                        <h6>{{statusMessage}}</h6>
                        @if (isRemoving() && user()?.id != loggedUserId()) {
                            <button (click)="removeUser()" class="btn btn-warning">Yes</button>
                            <button class="btn btn-primary">No</button>
                        }
                    </div>
                }
            }
        </div>
    </div>
</section>