#newsletterSection {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 20px;

        .newsletterContent {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;

            img {
                padding: 5px;
                max-width: 100%;
                max-height: 100%; 
                border-radius: 10px;
            }
        }
        .adminNavigationContent {
            border-radius: 10px;
            padding-top: 20%;
            padding: 5px;

            ul {
                justify-content: space-between;

                li {
                    padding: 10px;

                    .btn-menu {
                        border: 1px solid #2B0A3D;
                        background-color: #0070AD;
                        color: #F5F5F7;
                        padding: 5px 10px;
                        text-decoration: none;
        
                        &:hover {
                            background-color: #12ABDB;
                            border-color: #F53B53;
                            color: white;
                        }
                    }
                }
            }
        }
        .newsletterInformation {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            padding: 5px;

            h6 {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}