@if(newsletters()) {
    <section id="newsletterSection">
        <div class="container">
            <div class="newsletterContent">
                @for (image of newsletters(); track image) {
                    <img [src]="image" alt="Newsletter page"/>
                }
            </div>
            <div class="newsletterInformation">
                @if(newsletter()) {
                    <h6>Author: {{newsletter()?.author}}</h6>
                    <h6>Created: {{newsletter()?.createdAt | date}}</h6>
                    <h6>Release date: {{newsletter()?.releaseDate | date}}</h6>
                    <h6>Sections: {{newsletter()?.sections?.length}}</h6>                  
                }
            </div>
          </div>
    </section>
}
@else if (isFetching() && !errorMessage()) {
    <p>Loading newsletter...</p>
}

@else if (errorMessage()) {
    <p>{{errorMessage()}}</p>
}
