
<section id="newsletterSection">
    <div class="container">
        @if(newsletters()) {
            @if (userRole()?.role == "Admin") {
            <aside class="adminNavigationContent">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a [routerLink]="['/update-newsletter', newsletterId]" class="btn btn-warning" aria-current="page">Update Newsletter</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="loadDeleteNewsletterDetails()" class="btn btn-danger" aria-current="page">Delete Newsletter</a>
                    </li>
                    <button (click)="goBack()" class="btn btn-success" aria-current="page">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                    </button>
                </ul>
            </aside>
        }
        @if (statusMessage) {
            <div [class]="statusClass" role="alert">
                <h6>{{statusMessage}}</h6>
                @if (isRemoving()) {
                    <button (click)="deleteNewsletter()" class="btn btn-warning">Yes</button>
                    <button (click)="goBack()" class="btn btn-primary">No</button>
                }
            </div>
        }
        <div class="newsletterContent">
            @for (image of newsletters(); track image) {
                <img [src]="image" alt="Newsletter page"/>
            }
        </div>
        <div class="newsletterInformation">
            @if(newsletter()) {
                <h6>Author: {{newsletter()?.author}}</h6>
                <h6>Created: {{newsletter()?.createdAt | date}}</h6>
                <h6>Release date: {{newsletter()?.releaseDate | date}}</h6>                
            }
        </div>
    }
    @else if (isFetching()) {
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
    
    @else if (statusMessage) {
        <p>{{statusMessage}}</p>
    }
    </div>
</section>


