footer {
  padding: 30px 0px 30px 0px;
  border-bottom: 2px solid #0070AD;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(to top, white, #0070AD);
  box-shadow: 0px 0px 10px 2px rgba(89, 88, 88, 0.525);
}
footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .container .footer-text {
  display: flex;
  justify-content: center;
  color: #F53B53;
}
footer .container .footer-text p {
  color: #005380;
}