footer {
    padding: 30px 0px 30px 0px;
    background-color: #F5F5F7;
    box-shadow: 13px 13px 13px 12px rgba(138, 137, 137, 0.5254901961);
    .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .footer-text {
        display: flex;
        justify-content: center;
        
        color: #F53B53;
        p{
            color: #0070AD;
        }
        
    }
    }
}