#homeSection {
    .container {
        .homeShowcase {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 100%;
                
                @media (min-width: 992px) {
                    width: 30%;
                }
            }
        }
    }
}