<header>
    <div class="container">
        <div class="logotype">
            <img src="./images/thumbnail_image002.png" alt="logotype">
        </div>
        <div class="signIn">
            @if(!isLoggedIn) {
                <a class="btn btn-signIn" (click)="login()">Sign in <i class="fa-solid fa-right-to-bracket"></i></a>
            }
            @else if(isLoggedIn) {
                <p>{{ user()?.email }}</p>
                <a class="btn btn-signOut" (click)="logout()">Sign out <i class="fa-solid fa-right-to-bracket"></i></a>
            } 
        </div>
    </div>

    <nav class="menuContent">
        @if(isLoggedIn) {
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a routerLink="/my-newsletters" class="nav-link active btn btn-menu" aria-current="page">My Newsletters</a>
            </li>
            <li class="nav-item">
                <a routerLink="/latest-newsletter" class="nav-link active btn btn-menu" aria-current="page">Latest Newsletter</a>
            </li>
            <li class="nav-item">
                <a routerLink="/create-newsletter" class="nav-link active btn btn-menu" aria-current="page">Create Newsletter</a>
            </li>

            @if (user()?.role === "Admin") {
                <li class="nav-item">
                    <a routerLink="/admin-portal" class="nav-link active btn btn-menu" aria-current="page">Admin</a>
                </li>
            }
        </ul>
        }      
    </nav>

</header>