header {
  font-family: "Inter", sans-serif;
  padding: 30px 0px 30px 0px;
  background-color: #F5F5F7;
  box-shadow: 3px 3px 3px 2px rgba(138, 137, 137, 0.5254901961);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .signIn {
  text-align: center;
}
header .container .signIn .btn-signIn {
  text-align: center;
  border: 1px solid #2B0A3D;
  background-color: #0070AD;
  color: #F5F5F7;
}
header .container .signIn .btn-signIn:hover {
  background-color: #12ABDB;
  border: 1px solid #F53B53;
  color: white;
}
header .container .signIn .btn-signOut {
  border: 1px solid #2B0A3D;
  background-color: #0070AD;
  color: black;
}
header .container .signIn .btn-signOut:hover {
  background-color: #F53B53;
  color: white;
}
header .container .logotype img {
  width: 100px;
}
header .menuContent {
  margin-top: 30px;
}
header .menuContent ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
header .menuContent ul .btn-menu {
  border: 1px solid #2B0A3D;
  background-color: #0070AD;
  color: #F5F5F7;
  padding: 5px 10px;
  text-decoration: none;
}
header .menuContent ul .btn-menu:hover {
  background-color: #12ABDB;
  border-color: #F53B53;
  color: white;
}