<section id="createNewsletterSection">
  <div class="container">
    <h2>Create Newsletter</h2>
    <form (ngSubmit)="saveNewsletter()"
      [ngStyle]="{
        'background': 'linear-gradient(90deg, ' + newsletter()?.theme?.backgroundStart + ', ' + newsletter()?.theme?.backgroundEnd + ')',
        'color': newsletter()?.theme?.textColor
      }">
      <div id="newsletter-content">
        <div class="form-group-content">
          <div class="form-group">
            <label for="Title" class="form-label">Title:</label>
            <input
              type="text"
              name="title"
              required
              [(ngModel)]="newsletter()!.title"
              #titleInput="ngModel"
              [ngClass]="{'form-control': true, 'is-invalid': titleInput.invalid && (titleInput.dirty || titleInput.touched)}"
              placeholder="Title"
              (ngModelChange)="clearStatusMessage()"
            />
            @if(titleInput.invalid && (titleInput.dirty || titleInput.touched)) {
              <div class="invalid-feedback">
                Fältet måste fyllas i.
              </div>
            }
          </div>

          <div class="form-group" id="releaseDate">
            <label for="Release date" class="form-label">Release date:</label>
            <input 
            [class]="validationClass" 
            type="date" 
            name="releaseDate"
            required 
            [(ngModel)]="newsletter()!.releaseDate"
            #releaseDateInput="ngModel"
            [ngClass]="{'form-control': true, 'is-invalid': releaseDateInput.invalid && (releaseDateInput.dirty || releaseDateInput.touched)}"
            (ngModelChange)="clearStatusMessage()"
            />
            @if(releaseDateInput.invalid && (releaseDateInput.dirty || releaseDateInput.touched)) {
              <div class="invalid-feedback">
                Fältet måste fyllas i.
              </div>
            }
          </div>

          <div class="form-group" id="theme">
            <app-theme-handler (themeChanged)="onThemeChanged($event)"></app-theme-handler>
          </div>
        </div>

        <div class="sectionContent">
          @if(newsletter()!.sections.length > 0) { 
            @for(section of newsletter()!.sections; track section) {
              @if(editingSection === section) {
                <!-- Visa editor istället för innehåll -->
                <app-create-newsletter-section [section]="editingSection" (save)="saveSection($event)"></app-create-newsletter-section>
                <button type="button" class="btn btn-warning" (click)="cancelEdit()">Cancel Edit</button>
              }

              @else {
                <!-- Visa sektionens innehåll -->
                <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(section.content)">
                </div>
                <div class="buttonContent">
                  <button type="button" class="btn btn-warning" (click)="editSection(section)">
                    Edit Section
                  </button>
                  <button type="button" class="btn btn-danger" (click)="removeSection(section)">
                    Remove Section
                  </button>
                </div>
              }
            }
          }

          @if(!editingSection && !showNewSection) {
            <button type="button" class="btn btn-primary" (click)="openNewSection()">
              Add Section
            </button>
          }

          @if(showNewSection) {
            <!-- Editor för en ny sektion -->
            <app-create-newsletter-section [section]="newSection" (save)="saveSection($event)"></app-create-newsletter-section>
            <div id="closeSectionBtn">
              <button  type="button" class="btn btn-warning" (click)="cancelNewSection()">Close Section</button>
            </div>
          }

          <button class="btn btn-success" type="submit">
            Save Newsletter
          </button>
          @if(statusMessage) {
            <div [class]="statusClass" role="alert">
              {{ statusMessage }}
            </div>
          }
        </div>
      </div>
    </form>
  </div>
</section>
