#createNewsletterSection {
  display: flex;
  padding: 30px 0px 30px 0px;
}
#createNewsletterSection .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
  text-align: center;
}
#createNewsletterSection .container h2 {
  padding-bottom: 30px;
  padding-right: 30px;
  font-style: italic;
  text-shadow: #12ABDB 1px 1px 2px;
}
#createNewsletterSection .container form {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  transition: background-color 0.8s ease-in;
  box-shadow: 0px 0px 10px 2px rgba(89, 88, 88, 0.525);
}
#createNewsletterSection .container form:hover {
  box-shadow: 0px 0px 10px 5px rgba(89, 88, 88, 0.525);
}
#createNewsletterSection .container form .form-group-content, #createNewsletterSection .container form #newsletter-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
#createNewsletterSection .container form .form-group-content .form-group, #createNewsletterSection .container form #newsletter-content .form-group {
  width: 50%;
}
#createNewsletterSection .container form .form-group-content .validateText, #createNewsletterSection .container form #newsletter-content .validateText {
  border: 1px solid red;
}
#createNewsletterSection .container form .form-group-content #releaseDate, #createNewsletterSection .container form .form-group-content #theme, #createNewsletterSection .container form #newsletter-content #releaseDate, #createNewsletterSection .container form #newsletter-content #theme {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 20px;
}
#createNewsletterSection .container form .sectionContent {
  margin-top: 30px;
  width: 50%;
}
#createNewsletterSection .container form .sectionContent ul {
  padding: 0;
  list-style-type: none;
}
#createNewsletterSection .container form button {
  width: 100%;
  margin: 10px 0px 10px 0px;
}