<section id="adminAllUsersSection">
    <div class="searchUserContent">
        <router-outlet />
    </div>
    <div class="container">
        @for (user of users(); track user.id) {
            <div class="userContent">
                <a [routerLink]="'/user-details/' + user.id">
                    <h6>Username: {{user.userName}}</h6>
                    <h6>Email: {{user.email}}</h6>
                    <h6>Role: {{user.role?.role}}</h6>
                </a>
            </div>
        }
    </div>
</section>