<section id="imageSection">
    <div class="form-group">
        <label for="ImageUrl" class="form-label"></label>
        <input id="ImageUrl" class="form-control" type="text" [(ngModel)]="newsletterSectionImage.url" placeholder="Image URL" name="url" />
    </div>
    <div class="form-group">
        <label for="AltText" class="form-label"></label>
        <input id="AltText" class="form-control" type="text" [(ngModel)]="newsletterSectionImage.alt" placeholder="Alt Text" name="alt" />
    </div>
</section>
