.pixabay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.pixabay-content .button-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.pixabay-content .button-content button {
  width: 100%;
  padding: 5px;
  margin: 1px;
}
.pixabay-content .video-results {
  display: grid;
  grid-template-columns: auto auto;
}
.pixabay-content .video-results .video-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.pixabay-content .video-results .video-result video {
  width: 280px;
}
.pixabay-content .video-results .video-result p {
  display: none;
}
.pixabay-content .video-results .video-result button {
  width: 100%;
  margin-top: 10px;
}