#infoTablet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    .container {
        max-width: 850px;
        
        h2 {
            padding-bottom: 20px;
            font-style: italic;
            text-shadow:#12ABDB 1px 1px 2px;
            text-align: center;
        }

        #newsletter-content {
              
            .sectionContent {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;  

                .innerSectionContent{
                    margin: 20px;
                    border: 2px solid red;
                    border-radius: 10px;  
                    padding: 5px;

                    h1 {
                        margin-top: 30px;
                    }
                }

                .btn-primary {
                    text-align: center;
                    margin: 0px 20px 0px 20px;
                }
                .btn-success {
                    margin: 20px;
                }
            }
        }
    }
}