<section id="infoTablet">
  <div class="container">
    <h2>Publish Newsletter</h2>
    @if(newsletter()) {
      <form (ngSubmit)="publishNewsletter()">
        <div id="newsletter-content">
          <div class="sectionContent">
            @if(selectedSections.length > 0) {
              @for(imageUri of selectedSections; track imageUri) {
                <div class="innerSectionContent" [ngClass]="{'selected': savedSections[selectedSections.indexOf(imageUri)]}">
                  <img src="{{imageUri}}" alt="Sektionsbild" />
                  <button type="button" 
                          class="btn"
                          [ngClass]="savedSections[selectedSections.indexOf(imageUri)] ? 'btn-primary' : 'btn-success'"
                          (click)="toggleSection(selectedSections.indexOf(imageUri))">
                    {{ savedSections[selectedSections.indexOf(imageUri)] ? 'Saved' : 'Save'}}
                  </button>
                </div>
              }
            }
            <button class="btn btn-success" type="submit">Publish Newsletter</button>
            @if(statusMessage) {
              <div [class]="statusClass" role="alert">
                {{ statusMessage }}
              </div>
            }
          </div>
        </div>
      </form>
    }
  </div>
</section>