#infoTablet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    .container {
        max-width: 850px;

        h2 {
            padding-bottom: 20px;
            font-style: italic;
            text-shadow:#12ABDB 1px 1px 2px;
            text-align: center;
        }

        #newsletter-content {

            .sectionContent {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;  

                 .innerSectionContent {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                    padding: 1rem;
                    background-image: linear-gradient(to bottom, white, rgba(89, 88, 88, 0.525));
                    border-radius: 10px;
                    border: 2px solid #0070AD;
                  
                    &.selected {
                      border: 2px solid green;
                      background-color: green;
                    }

                    &:hover {
                        border: 2px solid #12ABDB;
                    }

                }

                .btn-primary {
                    text-align: center;
                    margin: 0px 20px 0px 20px;
                }
            }
        }
    }
}