<div class="pixabay-content">
    <input
      type="text"
      class="form-control"
      placeholder="Search after image..."
      [(ngModel)]="searchTerm"
      (keyup.enter)="searchImages()"/>
      
    <div class="button-content">
      <button type="button" class="btn btn-success" (click)="searchImages()">Sök</button>
      <button type="button" class="btn btn-danger" (click)="close()">Stäng</button>
    </div>
    
    @if (images.length > 0) {
        <div class="image-results">
            @for (image of images; track image) {
                <div class="image-result">
                    <img
                      [src]="image.previewURL"
                      [alt]="image.tags"
                      (click)="selectImage(image)"
                    />
                </div>
            }
        </div>
    }
    
</div>