#adminPortalSection {
  height: 100%;
}
#adminPortalSection .container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
#adminPortalSection .container .adminNavigationContent {
  border-radius: 10px;
  padding-top: 20%;
  border: 2px solid #0070AD;
  border-radius: 10px;
  padding: 5px;
  transition: border-color 0.3s ease-out, background-color 0.8s ease-in;
  background-image: linear-gradient(to bottom, white, rgba(89, 88, 88, 0.525));
  box-shadow: 0px 0px 10px 2px rgba(89, 88, 88, 0.525);
}
#adminPortalSection .container .adminNavigationContent:hover {
  border: 2px solid #12ABDB;
  background-image: linear-gradient(to bottom, white, #0070AD);
  box-shadow: 0px 0px 10px 5px rgba(89, 88, 88, 0.525);
}
#adminPortalSection .container .adminNavigationContent ul {
  flex-direction: column;
  justify-content: space-between;
}
#adminPortalSection .container .adminNavigationContent ul li {
  padding: 10px;
}
#adminPortalSection .container .adminNavigationContent ul li .btn-menu {
  border: 1px solid #2B0A3D;
  background-color: #0070AD;
  color: #F5F5F7;
  padding: 5px 10px;
  text-decoration: none;
}
#adminPortalSection .container .adminNavigationContent ul li .btn-menu:hover {
  background-color: #12ABDB;
  border-color: #F53B53;
  color: white;
}
#adminPortalSection .container .adminContent {
  border: 2px solid #0070AD;
  border-radius: 10px;
  height: 90%;
  margin: 20px;
}