<section id="adminPortalSection">
    <div class="container">
        <aside class="adminNavigationContent">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a [routerLink]="['./search-user']" class="nav-link btn btn-menu" aria-current="page">Search User</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['./search-newsletter']" class="nav-link btn btn-menu" aria-current="page">Search Newsletter</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['./all-newsletters']" class="nav-link btn btn-menu" aria-current="page">All Newsletters</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['./all-users']" class="nav-link btn btn-menu" aria-current="page">All Users</a>
                </li>
            </ul>
        </aside>

        <div class="adminContent">
            <router-outlet/>
        </div>
    </div>
</section>