html,
body {
    font-size: 16px;
    font-weight: 400px;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
  }
  
.alert {
    text-align: center;
}
  
.btn-main {
    text-align: center;
    border: 1px solid #2B0A3D;
    background-color: #0070AD;
    color: #F5F5F7;

    &:hover {
        background-color: #12ABDB;
        border: 1px solid #F53B53;
        color: white;
    }
}

[quill-editor-toolbar] .ql-font span[data-label="Bebas Neue"]::before {
    font-family: "Bebas Neue";
  }
  
  .ql-font-bebas {
    font-family: "Bebas Neue";
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=bebas]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=bebas]::before {
    content: 'Bebas Neue';
  }
  
  
  [quill-editor-toolbar] .ql-font span[data-label="DM Sans"]::before {
    font-family: "DM Sans";
  }
  
  .ql-font-dm-sans {
    font-family: "DM Sans";
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=dm-sans]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=dm-sans]::before {
    content: 'DM Sans';
  }
  
    [quill-editor-toolbar] .ql-font span[data-label="Inter"]::before {
    font-family: "Inter";
  }
  
  .ql-font-inter {
    font-family: "Inter";
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=inter]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=inter]::before {
    content: 'Inter';
  }
  
  
  [quill-editor-toolbar] .ql-font span[data-label="Poppins"]::before {
    font-family: "Poppins";
  }
  
  .ql-font-poppins {
    font-family: "Poppins";
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=poppins]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=poppins]::before {
    content: 'Poppins';
  }
  
  
  [quill-editor-toolbar] .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
  }
  
  .ql-font-roboto {
    font-family: "Roboto";
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=roboto]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=roboto]::before {
    content: 'Roboto';
  }
  
  
  [quill-editor-toolbar] .ql-font span[data-label="Roboto Mono"]::before {
    font-family: "Roboto Mono";
  }
  
  .ql-font-roboto-mono {
    font-family: "Roboto Mono";
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=roboto-mono]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=roboto-mono]::before {
    content: 'Roboto Mono';
  }
  
  
  [quill-editor-toolbar] .ql-font span[data-label="Roboto Slab"]::before {
    font-family: "Roboto Slab";
  }
  
  .ql-font-roboto-slab {
    font-family: "Roboto Slab";
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=roboto-slab]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=roboto-slab]::before {
    content: 'Roboto Slab';
  }
  
    [quill-editor-toolbar] .ql-font span[data-label="Oswald"]::before {
    font-family: "Oswald";
  }
  
  .ql-font-oswald {
    font-family: "Oswald";
  }
  
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=oswald]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=oswald]::before {
    content: 'Oswald';
  }

  .ql-align-center {
    text-align: center;
  }
  .ql-align-right {
    text-align: right;
  }


$toolbar-bg: white; 
$icon-color: #61dafb; 
$text-color: black; 
$dropdown-bg: #3c4048; 
$dropdown-text: #ffffff; 

.ql-toolbar {
    background-color: $toolbar-bg;
    color: $text-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .ql-formats {
      flex-grow: 0;
      margin: 0 !important; 
      padding: 0 !important; 

      .ql-picker-label {

        svg {
          padding-bottom: 5px !important; 
        }    
      }
    }

    .ql-stroke {
      stroke: $icon-color; 
    }
  
    .ql-fill {
      fill: $icon-color; 
    }
  
    .ql-picker-label,
    .ql-picker-item {
      color: $text-color; 
      
    }
  
    .ql-picker-options {
      background-color: $dropdown-bg;
      color: $dropdown-text;
      border: 1px solid ($dropdown-bg, 10%);
    }
}
