@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
  }
  
.btn-main {
    text-align: center;
    border: 1px solid #2B0A3D;
    background-color: #0070AD;
    color: #F5F5F7;

    &:hover {
        background-color: #12ABDB;
        border: 1px solid #F53B53;
        color: white;
    }
}

.default-theme {
    background-color: white;
    color: black;
}
  
.light-theme {
    background-color: #f9f9f9;
    color: #333;
}
  
.blue-to-pink {
    background-image: linear-gradient(45deg, #1e3c72, #2a5298);
    color: white;
}
  
.purple-to-blue {
    background-image: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
}
  
.red-to-orange {
    background-image: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
}
  
.green-to-blue {
    background-image: linear-gradient(45deg, #00b09b, #96c93d);
    color: white;
}
  

.yellow-to-red {
    background-image: linear-gradient(45deg, #f6d365, #fda085);
    color: white;
}


.blue-to-turquoise {
    background-image: linear-gradient(45deg, #4facfe, #00f2fe);
    color: white;
}
  

.pink-to-purple {
    background-image: linear-gradient(45deg, #ff9a9e, #fad0c4);
    color: white;
}
  

.orange-to-yellow {
    background-image: linear-gradient(45deg, #ff7e5f, #feb47b);
    color: white;
}
  

.blue-to-green {
    background-image: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
}
  

.dark-purple-to-red {
    background-image: linear-gradient(45deg, #5f2c82, #49a09d);
    color: white;
}