<section id="myNewsletters">
  @if(totalNewsletters > 0) 
  {
    <h2>{{ userName() }}'s newsletters</h2>
    <div class="container">    
      @for (newsletter of currentNewsletters; track newsletter.id) 
      {
        <div class="myNewslettersShowcase">
          <a [routerLink]="['/newsletter-details', userId(), newsletter.id]">
            <h4>{{ newsletter.title }}</h4>

            @if(getFirstImage(newsletter); as image) {
              <ng-container>
                <img [src]="image.url" [alt]="image.altText">
              </ng-container>
            }

          </a>        
        </div>
      }
    </div>
  }
  @else if (isFetching() && !statusMessage && !userName()) {
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  }
  @else {
    <div [class]="statusClass">
      {{ statusMessage }}
    </div>
  }

  @if(totalPages > 1) 
  {
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </li>
      </ul>
    </nav>
  }
  </section>